<application>
	<services>
		<testService>
			<name>baiyanwei</name>
			<datas>
				<data>a</data>
				<data>b</data>
				<data>c</data>
				<data>d</data>
			</datas>
			<stringData>1,2,3,4</stringData>
			<cfgBeans>
				<cfgBean>
					<name>baiyanwei</name>
					<datas>
						<data>a</data>
						<data>b</data>
						<data>c</data>
						<data>d</data>
					</datas>
					<stringData>1,2,3,4</stringData>
				</cfgBean>
				<cfgBean>
					<name>baiyanwei</name>
					<datas>
						<data>a</data>
						<data>b</data>
						<data>c</data>
						<data>d</data>
					</datas>
					<stringData>1,2,3,4</stringData>
				</cfgBean>
			</cfgBeans>
			<cfgBean>
				<name>baiyanwei</name>
				<datas>
					<data>a</data>
					<data>b</data>
					<data>c</data>
					<data>d</data>
				</datas>
				<stringData>1,2,3,4</stringData>
			</cfgBean>
		</testService>
		<memCached>
			<name>baiyanwei</name>
		</memCached>
	</services>
</application>	